# Server components evironment variables
API_URL=http://localhost:3000

# Chỉ sử dụng NEXT_PUBLIC_* cho client components
NEXT_PUBLIC_API_URL=http://localhost:3000

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-key-here

# Google OAuth (nếu dùng)
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret